<h1>Log in</h1>

<%= form_with model: @user, url: '/login' do |form| %>
  <%= form.label :username, 'Username: ' %>
  <%= form.text_field 'user[username]' %><br><br>

  <%= form.label :password, 'Password: ' %>
  <%= form.password_field 'user[password]' %><br><br>

  <%= form.submit %>
  <%= link_to 'Go back', users_path %>
<% end %>
