<h2>List of Users</h2>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
      <%= link_to 'user\'s profile', user_profile_path(user) %>
      <%= link_to 'see user\'s posts', user_path(user) %>
    </li>
  <% end %>
</ul>

<%= form_with model: @user, url: '/users' do |form| %>
  <%= form.label :username, 'New user: ' %>
  <%= form.text_field 'user[username]' %><br><br>

  <%= form.submit %>
<% end %>
