<h1>Posts</h1>
<h4>by: <%= @user.username %></h4><br>

<% if @user.posts.empty? %>
  <strong><%= @user.username %> has no posts.</strong>
<% else %>
  <% @user.posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <%= link_to 'edit', edit_user_post_path(@user, post) %>
    <%= link_to 'delete post', user_post_path(@user, post),
                 method: :delete, data: { confirmation: 'Are you sure?' } %>
  <% end %>
<% end %><br><br>

<h3>New Post</h3>
<%= form_with model: [@user, @user.posts.build] do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %><br><br>

  <%= form.label :body %>
  <%= form.text_area :body %><br><br>

  <%= form.submit 'Post'%>
<% end %>

<br>
<%= link_to 'Back to home', root_path %>
